@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

body {
	background: url("../img/wooden-desk.jpg") no-repeat fixed center;
	background-size: cover;
}

h1 {
	font-family: Caveat Brush;
	color: #3F51B5;
	font-size: 5em;
}

#loader{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.cargando{
	width: 100%;
	height: 50px;
	position: absolute;
	top: 30%;
	background-image: url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position: center;

}
.api{
	width: 10%;
	position: absolute;
	top: 5%;
	left: 32%;
}
.redesSociales{
	width: 10%;
	position: absolute;
	top: 15%;
	right:31%;
}


.social {
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
  transform: translateY(-50%);
}

.socialRedes {
  position: absolute;
  width: 100%;
  top: 125%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  /*color: white;*/
}




